#productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (max-width: 450px){
    #productos{
        display: flex;
        flex-flow: column;
      }
  }

  @media (min-width: 992px) {
    #productos {
        grid-template-columns: repeat(3, 1fr);
    } 
  }

   .img-fluid {
    width: 100%;
    height: 350px;
   
} 